.section {
  position: relative;
  &--map {
    height: 24rem;
  }
  &--header {
    display: flex;
    align-items: center;

    height: 36rem;
    background: image_url("background-left.jpg");
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      background: image_url("background-mobile.jpg");
      height: 90vh;
      background-position: center;
      background-size: cover;
    }
  }
  &--cta {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26rem;
  }
  &--notes {
    overflow: hidden;
  }
  @each $size, $value in $content-spacing {
    &--#{$size} {
      padding: $value 0 ;
    }
  }
  @each $color, $value in $theme-colors {
    &--#{$color} {
      background-color: $value;
    }
  }
}
