<!DOCTYPE html>
<html>
  <head>
    <title>Jamie & Anastasia Are Getting Married</title>
    <meta name="author" content="Gordon Evans">

    <meta charset="UTF-8">
    <meta name="description" content="Jamie & Anastasia Are Getting Married">
    <meta name="keywords" content="Jamie & Anastasia Are Getting Married">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- =================
    OPENGRAPH
    ====================== -->
    <meta property="og:url"                content="https://jamie-ana-wedding.herokuapp.com">
    <meta property="og:type"               content="website">
    <meta property="og:title"              content="Do you Hear Wedding Bells?">
    <meta property="og:description"        content="Jamie & Anastasia Tie the Knot on Sept. 21, 2019">

    <!-- NOTE: Remember to come back and update these for sharing cards -->
    <meta property="og:image"              content="https://s3.amazonaws.com/jamie-ana-wedding/background-mobile.jpg">
    <meta property="og:image:url"          content="https://s3.amazonaws.com/jamie-ana-wedding/background-mobile.jpg">
    <meta property="og:image:secure_url"   content="https://s3.amazonaws.com/jamie-ana-wedding/background-mobile.jpg">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add to Calendar Button -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <!-- AddEvent Settings -->
    <script type="text/javascript">
      window.addeventasync = function(){
        addeventatc.settings({
          css: false
        });
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
